div.qac_tip {
	max-width: 300px;
	height: 20px;
	position: absolute;
	display: none;
	text-align: left;

	text-decoration: none;
	font: 16px/100% 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 100;
	padding: 4px 5px 0px 0px;
	overflow: hidden;

	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;

	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);

	color: #98a38c;
	border: solid 1px #d0dac5;
	background: #eff6e8;
	background: -webkit-linear-gradient(top, #f5f9f0, #eff6e8, #f5f9f0);
	background: -moz-linear-gradient(top, #f5f9f0, #eff6e8, #f5f9f0);
	background: -ms-linear-gradient(top, #f5f9f0, #eff6e8, #f5f9f0);
}
div.qac_tip:before {
	background: url(../img/qac_tip.png) no-repeat top left;
	height: 15px;
	width: 15px;
	content: '';
	float: left;
	margin: -5px 0 0 -5px; 
}

div.qac_tip div.inner {
	width: 1000px;
}
div.qac_tip span.outer {
	padding: 0px 8px 0px 5px;
	border-radius: 10px;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.05);
	border-right: 1px solid #d0dac5;
}

div.qac_tip span.highlight {
	font-weight: bold;
}
div.qac_tip span.outer:first-child {
	color: #c7371b;
	padding-left: 0;
}

div.qac_tip span.outer:first-child span.highlight {
	color: #c7371b;
}
div.qac_icon {
	height: 10px;
	width: 10px;
	border-radius: 5px;
	position: absolute;
	display: none;
	background: #96edbf;
	border: 1px solid #13a256;
	margin: -6px;
	z-index: 100;
	cursor: pointer;
}

div.qac_icon.temp_disabled {
	background: #e0e0e0;
	border-color: #7c7c7c;
	cursor: default;
}

div.qac_icon.disabled {
	background: #f89292;
	border-color: #c02929;
	cursor: pointer;
}
div.qac_icon.hover {
	border-width: 2px;
	margin: -7px;
	cursor: pointer;
}
